In [1]:
import pandas as pd

## Joining dataframes

If you've got two dataframes and you want to combine them because, for example, one has
features that the other doesn't, you use the `df.join()` method.

Notice in the following case, we have two different dataframes with one column
in common but two other columns that have nothing in common.

In [13]:
p = pd.DataFrame({'id': [1, 2, 3], 'pedro_loves': ['puns', 'pandas', 'data']})
h = pd.DataFrame({'id': [1, 2, 3], 'hugo_loves': ['space', 'cider', 'breaking_the_law']})

What if we want to put the two of these together into a single dataframe?

It's actually super easy! You just have to use the [merge() function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)

In [18]:
p.merge(h, on='id')

   id pedro_loves        hugo_loves
0   1        puns             space
1   2      pandas             cider
2   3        data  breaking_the_law

Note that there is a very important `how` parameter that specifies what the behavior
of the merge should be in the case where there are keys missing from one dataframe
or the other. 

See what happens if we add one entries to each of the dataframes that are not contained
in the other and then experiment with the how parameter.

In [79]:
p = pd.DataFrame({'id': [1, 2, 3, 4], 'pedro_loves': ['puns', 'pandas', 'data', 'loud_noises']})
h = pd.DataFrame({'id': [1, 2, 3, 5], 'hugo_loves': ['space', 'cider', 'breaking_the_law', 'being_a_data_hippie']})

In [80]:
p.merge(h, on='id', how='left')

   id  pedro_loves        hugo_loves
0   1         puns             space
1   2       pandas             cider
2   3         data  breaking_the_law
3   4  loud_noises               NaN

In [81]:
p.merge(h, on='id', how='right')

   id pedro_loves           hugo_loves
0   1        puns                space
1   2      pandas                cider
2   3        data     breaking_the_law
3   5         NaN  being_a_data_hippie

In [84]:
# this is the default value
p.merge(h, on='id', how='inner')

   id pedro_loves        hugo_loves
0   1        puns             space
1   2      pandas             cider
2   3        data  breaking_the_law

In [83]:
p.merge(h, on='id', how='outer')

   id  pedro_loves           hugo_loves
0   1         puns                space
1   2       pandas                cider
2   3         data     breaking_the_law
3   4  loud_noises                  NaN
4   5          NaN  being_a_data_hippie

Okay, so at this point we now we have a dataframe that has all the info that we want
by on the `on` and `how` parameters to satisfy whatever policy we have come up with.

There is a cleaner way to do this using the [join()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html) function and it can make sense
in a lot of scenarios which is to make sure that the two dataframes have the same index.
When this is the case, you don't need to specify the column to join on and the resulting dataframe is
usually much easier to work with (especially if you are working with some kind of
identifier rather than just regular data)

In [19]:
p_with_index = p.set_index('id')
h_with_index = h.set_index('id')
p_with_index.join(h_with_index)

   pedro_loves        hugo_loves
id
1         puns             space
2       pandas             cider
3         data  breaking_the_law

Notice how you have a properly named index and the dataframe only has real data

## Map

Okay, you have a column that is not all it could be. Maybe it's
a categorical that is all upper case and you need it to be all
lower-case. Maybe you need to divide all the numbers by 10.
Whatever it is that you need to do, there is a way to combine
map() with regular ol' python code to do this.

In [23]:
df = pd.DataFrame({'pedro_says': ['HELLO', 'frIend', 'How', 'arE', 'yOu']})
df

  pedro_says
0      HELLO
1     frIend
2        How
3        arE
4        yOu

Now say we decide that the HELLO is just a bit too loud and that
we want everything to be lowercase to fix the typos. It's super easy with map()

In [25]:
df.pedro_says.map(lambda x: x.lower())

0     hello
1    friend
2       how
3       are
4       you
Name: pedro_says, dtype: object

This is great! all you had to know was how to google "lowercase string python" and 
how to use the map() function in order to get Pedro under control here.

If you want to avoid using the lambda because you don't like the look of it
or you want to write a multi-line function, no worries, you can map any function
you would like!

In [26]:
def to_lower(entry):
    return entry.lower()

df.pedro_says.map(to_lower)

0     hello
1    friend
2       how
3       are
4       you
Name: pedro_says, dtype: object

If there is a python built-in that takes one argument and returns the updated version
of it, you can also just pass that in:

In [27]:
df.pedro_says.map(str.lower)

0     hello
1    friend
2       how
3       are
4       you
Name: pedro_says, dtype: object

What I'm trying to say here is that using map() and any number of other things,
you can solve just about any problem you've got with the functions you are most
comfortable with.

And don't forget that you can do this with any type, not just str.

In [28]:
pd.Series([1, 2, 3, 4, 5]).map(lambda x: x/10)

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

## .str methods

A little bit smarter, cleaner, and more efficient are the [str methods](https://pandas.pydata.org/pandas-docs/stable/text.html) methods available for the series that hold str

In [30]:
df = pd.DataFrame({'pedro_says': ['HELLO', 'frIend', 'How', 'arE', 'yOu']})
df.pedro_says.str.lower()

0     hello
1    friend
2       how
3       are
4       you
Name: pedro_says, dtype: object

Remember, there's a TON of them and (as always with pandas) there's almost
always a better way!

Let's say for example that we want to lowercase all of Pedro's words and
replace all instances of 'i' with an underscore. Go ahead and chain up
a bunch of pandas commands and get it done super fast!

In [35]:
df.pedro_says.str.lower().str.split('i').str.join('_')

0     hello
1    fr_end
2       how
3       are
4       you
Name: pedro_says, dtype: object

## Assignment

You need to manually fix a row, what's the right way to do this
that won't cause pandas to barf?

Okay, let's say that we aren't Pedro's friend and we need to fix that.
The easiest thing to do is just access it by index and fix it.

What you need to do is select the column (`pedro_says`) and then know the
index of the entry you want to fix. In this case it's the first one.

One more time, the order is

1. select the column
1. select the index of interest
1. assign

In [46]:
df = pd.DataFrame({'pedro_says': ['HELLO', 'frIend', 'How', 'arE', 'yOu']})
df.pedro_says[1] = 'enemy'
df

  pedro_says
0      HELLO
1      enemy
2        How
3        arE
4        yOu

Now let's say that we want to replace the value of a particular column for a
particular entry. In this case, the order of access is

1. select the index location using `iloc`
1. select the column by name
1. assign

In [49]:
df.iloc[0].pedro_says = 'blah'
df

  pedro_says
0       blah
1      enemy
2        How
3        arE
4        yOu

Now everyone should be exposed to the replace() function
for a series. This is the correct way to do search and 
replace in an entire series or dataframe

In [52]:
# on the entire dataframe
df = pd.DataFrame({'pedro_says': ['HELLO', 'frIend', 'How', 'arE', 'you', 'you', 'you']})
df.replace('you', 'me')

  pedro_says
0      HELLO
1     frIend
2        How
3        arE
4         me
5         me
6         me

In [53]:
# now on the series
df.pedro_says.replace('you', 'me')

0     HELLO
1    frIend
2       How
3       arE
4        me
5        me
6        me
Name: pedro_says, dtype: object

## astype

Coerce from one type to another. As you all know, you can get some pretty messed
up data with mixed types. Particularly frustrating is something like the following:

In [66]:
df = pd.DataFrame({'price_in_cents': ['12.10', '14.50', '30.67', '10.10']})
df.price_in_cents.dtype

dtype('O')

Grrrrr, it's not a float!!!

Now we had a perfectly reasonable concept of dollar fractions but rather
than write it that way, someone has decided to give us strings instead. So
before you can do all your fun stuff.

Let's say we want to convert it to dollars. That would mean executing the very simple
task of multiplying by 100 which you should be able to do in the following way:

In [69]:
df.price_in_cents / 100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Nooooo! It's just so stuuuuupid!

However, using the astype function available on series, we can coerce
the column into something that we can perform all kinds of fun
vectorized arithmetic with!

In [74]:
df.price = df.price_in_cents.astype(float) / 100
df

  price_in_cents
0          12.10
1          14.50
2          30.67
3          10.10